
body{
    margin:0;
    padding: 0;
    font: sans-serif;
    background-image:url(https://media.istockphoto.com/id/1174207130/photo/wall-of-retro-vintage-style-music-sound-speakers.webp?b=1&s=170667a&w=0&k=20&c=RdsMIWsR-s19lh-KaDCW1mm8jpU-qtfCPqCtN745QnM=);
}

button{
    background: none;
    border: 0;
}

#progress{
    cursor: pointer;
}

i{
    font-size: 1.6rem;
    cursor: pointer;
}

#container{
    width: 360px;
    height: 500px;
    margin: 0px auto;
    margin-top: 40px;
    text-align: center;
    position: relative;
    border: 2px solid black;
    background-color: rgb(252, 250, 250);
    background-image: url(https://media.istockphoto.com/id/174624052/photo/sepia-tones-background-with-musical-staves-border.webp?b=1&s=170667a&w=0&k=20&c=nmw-J82dRtCDW54I_4Zc3jlpZ0vXufnkZ-isyTuayc0=);
}

#play-section{
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
   
}

.sam{
    width: 360px;
    padding: 10px 0;
}
ul{
    padding: 0;
}

.song-item{
    border: 1px solid black;
    width: 60%;
    margin: 10px auto;
    padding: 5px 0;
    border-radius: 20px;
    cursor: pointer;
    list-style: none;
}


.song-item:hover{
   background-color: rgb(169, 181, 193);
}

#shuffle{
    position: absolute;
    right:15px;
    top:23px;
}

.image{
    margin: 30px auto;
}

